.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  /* color:#d96704; */
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.sidemenu {
  width: 260px;
  border: 1px solid rgb(60, 72, 82);
  /* background-color: #303030; */
  /* background-color: rgb(215, 217, 219); */
  background: linear-gradient(
    45deg,
    #0f1312,
    #0a0a0a
  ); /* Gradient from light gray to white */
  box-shadow: 0 0 20px rgba(8, 17, 13, 0.5),
    /* Shadow of white */ 0 0 40px rgba(20, 31, 30, 0.5),
    /* Increase blur for a more pronounced effect */ 0 0 60px
      rgba(17, 32, 32, 0.5); /* Increase blur for a more pronounced effect */
}

/* .submit-button {
  width: 30px; 
  height: 30px; 
  cursor: pointer; 
  margin-left: 10px;
} */

.chatbox {
  flex: 1;
  border: 1px solid rgb(12, 19, 18);
  /* background-color: #818385; */
  /* background-color: rgb(235, 238, 240); */
  background: linear-gradient(
    45deg,
    #030303,
    #0d0f0f
  ); /* Gradient from light gray to white */
  box-shadow: 0 0 20px rgba(23, 36, 31, 0.5),
    /* Shadow of white */ 0 0 40px rgba(17, 27, 25, 0.5),
    /* Increase blur for a more pronounced effect */ 0 0 60px
      rgba(17, 22, 21, 0.5); /* Increase blur for a more pronounced effect */
  position: relative;
}
.side-menu-button {
  padding: 7px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 16px;
  text-align: left;
  margin: 5px;
  transition: ease 0.25 all;
  box-shadow: 0 3px 0 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.add img,
.logout img {
  padding-right: 5px;
  width: 25px; /* Adjust the width as needed */
  height: 20px; /* Allow the height to adjust proportionally */
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg)
    brightness(100%) contrast(100%);
}

.side-menu-button.logout {
  position: absolute;
  bottom: 10px; 
}

.side-menu-button.update{
  position: absolute;
  bottom: 60px; 
}

.title-with-image {
  padding: 25px;
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.title-image {
  border-radius: 21px;
  width: 90px; /* Adjust the width of the image */
  height: 75px; /* Allow the height to adjust proportionally */
  margin-right: 10px; /* Add some space between the image and the text */
  animation: swivelImage 2s ease-in-out infinite alternate; /* Swivel the image */
}

.title-text {
  font-family: "Bodoni MT Black", sans-serif; /* Use a unique font */
  font-size: 23px; /* Adjust the font size */
  font-weight: 700;
}
@keyframes swivelImage {
  0% {
    transform: rotate(0deg);
    transform-origin: center center; /* Rotate around the center of the image */
  }
  50% {
    transform: rotateY(180deg); /* Rotate 180 degrees along the Y-axis */
    transform-origin: center center; /* Rotate around the center of the image */
  }
  100% {
    transform: rotate(0deg);
    transform-origin: center center; /* Rotate around the center of the image */
  }
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container {
  position: relative;
}

.submit-button {
  width: 30px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  position: absolute;
  right: 30px; /* Adjust the distance from the right */
  top: 50%; /* Position it vertically centered */
  transform: translateY(-50%); /* Center vertically */
  cursor: pointer; /* Change cursor to pointer on hover */
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg)
    brightness(100%) contrast(100%);
}

.chat-input-textarea {
  width: calc(100% - 40px); /* Adjust width to accommodate the button */
}

.side-menu-button:hover {
  background-color: rgb(255, 255, 255, 0.1);
}
/* .side-menu-button span{
  padding-left: 6px;
  padding-right: 12px;
  font-weight: bold;
  font-size: large;
  position: relative; 
  width: 100%;
  height: auto;
} */

.chat-input-holder {
  padding: 0px;
  position: absolute;
  /* bottom: 0;
  left: 0;
  right: 0; */
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%; /* Adjust as needed for size */
  border-radius: 12px;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(90deg, #ed6e61, #6359e1) border-box;
  border: 3px solid transparent;
  
}
.chat-input-textarea {
  background-color: #161718;
  width: 100%; /* Fills the holder */
  border: 5px;
  border-radius: 5px;
  border: 5px solid transparent;
  font-size: large;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  outline: none;
  /* margin-right: 5px;
  margin-left: 5px; */
  margin-left: 0px;
  box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.25);
}

.chat-log {
  padding: 24px;

  overflow-y: scroll;
  height: 85%; 
  /*overflow-y: auto; Enable vertical scrolling */
  
  text-align: left;
}
.chat-message.financegpt {
  background-color: rgba(155, 152, 152, 0.1);
}

.chat-message-center {
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  
}
.avatar {
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.avatar.financegpt {
  background: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar.meavatar {
  background: rgb(143, 126, 236);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar.financegpt > img {
  /* width: auto;
  height: auto; */
  max-width: 200%;
  max-height: 200%;
  object-fit: cover;
}

.avatar.meavatar > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.message {
  padding-left: 30px;
  padding-right: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html,
body {
  overflow: hidden; /* Prevent scrolling of the entire window */
}
